body {
    background-color: #0f044c;
  }

  hr {
    border: none;
    border-top: 10px dotted white;
    width: 30%;
  }
  h1 {
    color: #EEEEEE;
  }
  h3{
    color: #EEEEEE;
  }
  p {
    color: #787A91;
  }
