<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>HTML Forms</title>
    </head>
    <body>
        <!-- Form -->
        <form action="/login" method="post">
            <label for="username">Name</label>
            <input id="username" name="USERNAME" type="text" placeholder="username" />
            <label for="password">Password</label>
            <input id="password" name="PASSWORD" type="password" placeholder="password" />
            <input type="submit" value="Ok" />
        </form>
    </body>
</html>
